[package]
name = "cli"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4", features = ["derive"] }
libsql = "0.6"
rayon = "1.10"
tokio = { version = "1", features = ["rt-multi-thread", "macros", "process", "time", "io-util"] }
